@use "./variables" as *;
@use "./mixins" as *;

body {
  margin: 0px;
  padding: 0px;
  font-family: $primary-font;
  color: $black-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
}

header {
  width: 100%;
  padding: 0px 81px;
  background-color: $white-color;

  nav {
    div.container-fluid {
      padding: 0px;
    }

    div.collapse {
      justify-content: flex-end;
    }

    ul {
      gap: 20px;
    }

    a.navbar-brand,
    ul li a {
      font-size: 16px;
      color: $black-color;
      transition: 0.5s ease;

      &.active {
        color: $active-color !important;
      }
    }

    a.navbar-brand {
      font-size: 26px;
      font-family: $secondary-font;
    }
  }
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  box-sizing: border-box;
  padding-top: 65px;

  section {
    width: 93.6%;

    &.banner {
      height: 900px;
      position: relative;
      background-image: url("https://static.wixstatic.com/media/f61af8_97a68d95c3584eee8952b7b3184f5f80~mv2_d_6924_3840_s_4_2.jpg/v1/fill/w_2383,h_900,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/f61af8_97a68d95c3584eee8952b7b3184f5f80~mv2_d_6924_3840_s_4_2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transition: 0.5s ease;

      div.overlay {
        @include flex;

        article {
          h1,
          h3 {
            color: $white-color;
            text-align: center;
            font-weight: 300;
          }

          h1 {
            font-size: clamp(34px, 5vw, 70px);
            letter-spacing: 0.1em;
          }

          h3 {
            font-size: clamp(14px, 5vw, 20px);
            font-family: $primary-font;
            letter-spacing: 0.5em;
          }

          div {
            @include flex;
            margin-top: 25px;

            button {
              @include button;
            }
          }
        }
      }
    }
  }

  div.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: $overlay-color;
  }
}

footer {
  width: 100%;
  padding: 20px 0px;
  @include flex;

  section {
    min-width: 260px;
    max-width: 450px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    place-items: center;

    aside {
      ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
        @include flex(2rem);

        li {
          a {
            color: $black-color;
            transition: 0.5s;
            font-size: 20px;

            &:hover {
              color: $hover-color;
            }
          }
        }
      }

      p {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        color: $black-color;
      }
    }
  }
}

div.chat {
  width: 64px;
  height: 64px;
  background-color: $violet-color;
  position: fixed;
  right: 25px;
  bottom: 25px;
  @include flex;

  i {
    font-size: 35px;
    color: white;
    transition: 0.5s ease;
  }

  &:hover {
    i {
      color: $hover-color;
    }
  }
}
