$primary-font: "Roboto", sans-serif;
$secondary-font: "Cinzel", serif;

$white-color: #fff;
$black-color: #303131;
$violet-color: rgb(176, 135, 156);
$active-color: #5c6b7a;
$overlay-color: rgba(39, 58, 78, 0.4);
$hover-color: #273a4e;
