$primary-font: "Cinzel", serif;
$secondary-font: "Roboto", sans-serif;
$white-color: #fff;
$black-color: #303131;
$pink-color: rgb(176, 135, 156);
$active-color: #5c6b7a;
$overlay-color: #273a4e4d;
$button-bg-color: #273a4e;
