$primary-font: "Cinzel", serif;
$secondary-font: "Open Sans", sans-serif;

$white-color: #fff;
$black-color: #313131;
$active-color: #5c6b7a;
$pink-color: #b0879c;
$overlay-color: #273a4e;
$overlay-transparent-color: #273a4e6b;
