body {
  font-family: 'Montserrat', sans-serif;
}

.action {
  transition: 0.5s ease;
  cursor: pointer;
}

.action:hover {
  color: var(--bs-blue);
}

.actions .action {
  font-size: 20px;
}

.bi-trash-fill:hover,
.bi-trash3:hover {
  color: red;
}