$primary-font: "Cinzel", serif;
$secondary-font: "Roboto", sans-serif;
$black-color: #303131;
$gray-color: #f0f3f6;
$white-color: #fff;
$pink-color: #b0879c;
$active-color: #5c6b7a;
$hover-color: #273a4e;
$overlay-color: #273a4e66;
