@use "variables" as *;
@use "mixins" as *;

@media screen and (max-width: 990px) {
  header {
    padding: 0 10px;
  }

  main {
    padding: 65px 0 0;

    section {
      &.banner {
        background-position: 30%;
      }

      &.portfolio {
        article {
          grid-template-columns: 1fr;

          aside {
            height: 500px;
            div.overlay {
              @include flex(center, center, 20px, column);

              h2 {
                margin: 0;
              }
            }
          }
        }
      }

      &.about {
        grid-template-columns: 1fr;
      }
    }
  }

  div.chat {
    border-radius: 50%;
    bottom: 65px;
  }
}
